{% load staticfiles %}
{% load imagefixes %}
<div class="row">
<span class="small-2 large-2 columns">
{% if c.image %}
  <a href="{% url 'person-view' c.id c.name|slugify %}">
    <img class="person-avatar" src="{{ c.popit_data.proxy_image|fixproxyurl }}/0/64"/>
  </a>
{% elif c.popit_data.gender == 'female' %}
  <img class="person-avatar" src="{% static 'candidates/img/blank-woman.png' %}"/>
{% else %}
  <img class="person-avatar" src="{% static 'candidates/img/blank-man.png' %}"/>
{% endif %}
</span>
<span class="person-name-and-party small-8 large-8 columns">
  <a href="{% url 'person-view' c.id c.name|slugify %}">
     <label for="vote-{{ counter }}">{{ c.name }}</a>
    <span class="party">{{c.parties.2015.name }}</span>
</span>
{% if voting = True %}
<span class="person-vote-choice small-2 large-2 columns">
    <input type="radio" class="vote-radio" name="vote" id="vote-{{ counter }}" value="{{c.id}}"/>
</span>
{% endif %}
</div>
